{% extends "layout.html" %}

{% block content %}
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Job Description
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Flamingo Fire:Restarant.</strong> 
      </div> Help us make our famous pizza at Flamingo Fire:Resteraunt.
   <P>WAGE $41-$67.</P>
    <p>Location:Toronto.</P>
    </div>
</div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Requirements
    </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Requirements for Flamingo Fire:Restarant.</strong>
      <p>You need to be able to compramise with otheer employees and customers.
        If any curcumstance that makes customers panic dont panic with them,instead help them calm down.
       You need experience making food a other resteraunts,plus will also need a lisence for making food.
    </p>
    
    </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Terms And Conditions
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong> Terms And Conditions for Flamingo Fire:Restarant.</strong>
     <p>This Job is full time and max work time for a day is 10 hours.Needed Experience is up to 3-5 years of working for application.
        Education needed is the food of uneversity bleachor card.</p>
</div>
    </div> 
  </div>
</div>
                                                                
{% endblock %}